# Python
venv/
*.pyc
__pycache__/
*.log

# Application Secrets - DO NOT COMMIT
config.json
user.json
schedules.json
group_schedules.json
permissions.json
secret.key
flask_secret.key

# IDE / Editor specific
.vscode/
.idea/
*.swp
*.swo