.ou-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 1rem;
    height: calc(100vh - 250px); /* Ajuste a altura conforme necessário */
    max-height: 700px;
}

#ou-tree-container,
#user-list-container {
    padding: 1rem;
    overflow: auto;
    border-radius: 0.5rem;
}

/* Estilos para o cabeçalho da lista de usuários */
.user-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 0.5rem;
}

.user-list-header h5 {
    color: var(--text-color);
}

.user-list-body {
    height: calc(100% - 50px); /* Ajustar altura para permitir scroll */
    overflow-y: auto;
}

.user-item {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color-light);
    color: var(--text-color);
    padding: 0.75rem 1rem;
}

.user-item:last-child {
    border-bottom: none;
}

.user-item:hover {
    background-color: var(--hover-bg-color);
}